{% load staticfiles %}

<!DOCTYPE html>
<head>
	<title>Градирни - наше всё!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'core/css/styles.css' %}" type="text/css"/>
</head>

<body>
	<div class="wrapper block">
		<div class="wrapper__gradient"></div>
		<header>
			<div class="top__text">
				<a href="/" class="firm-label">
					<img src="{% static 'core/images/logo.svg' %}" alt="ООО Алдан.">
					<span>Алдан</span>
				</a>
			</div>
			<div class="top-menu">
				<ul class="unstyled-list">
					<li>
						<a href="" class="top-menu__text">Главная</a>
					</li>
					<li>
						<a href="" class="top-menu__text">Устройство градирни<br/>серии ГВП</a>
					</li>
					<li>
						<a href="" class="top-menu__text">Каталог градирен<br/>серии ГВП</a>
					</li>
					<li>
						<a href="" class="top-menu__text">Фото градирен<br/>Примеры монтажа</a>
					</li>
					<li>
						<a href="" class="top-menu__text">Контакты</a>
					</li>
				</ul>
			</div>
			<div class="firm-description">
				<ul class="unstyled-list">
					<li>
						Производство вентиляторных<br/>градирен
					</li>
					<li>
						Расчет систем охлаждения<br/>с применением вентиляторных градирен
					</li>
					<li>
						Подбор оборудования<br/>для водоснабжения
					</li>
					<li>
						Комплектующие<br/>для вентияторных градирен
					</li>
				</ul>
			</div>
		</header>
	</div>
</body>


{% block content %}{% endblock %}