{% load staticfiles %}

<!DOCTYPE html>
<head>
	<title>Градирни - наше всё!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'core/css/styles.css' %}" type="text/css"/>
</head>

<body>
	<div class="wrapper block">
		<div class="wrapper__gradient"></div>
		<header>
			<div class="top__text">
				<a href="mailto: chelgradirni@mail.ru" class="firm-label">
					<img src="{% static 'core/images/logo.svg' %}" alt="ООО Алдан. Email: chelgradirni@mail.ru">
					<span>Алдан</span>
				</a>
				<span class="email">email: chelgradirni@mail.ru</span>
				<span class="phone">Тел. (351) 776-22-07</span>
			</div>
			<div class="top-menu">
				<ul>
					<li>
						<a href="" class="top-menu__text">Главная</a>
					</li>
					<li>
						<a href="" class="top-menu__text">Устройство градирни<br/>серии ГВП</a>
					</li>
					<li>
						<a href="" class="top-menu__text">Каталог градирен<br/>серии ГВП</a>
					</li>
					<li>
						<a href="" class="top-menu__text">Фото градирен<br/>Примеры монтажа</a>
					</li>
					<li>
						<a href="" class="top-menu__text">Контакты</a>
					</li>
				</ul>
			</div>
		</header>
	</div>
</body>


{% block content %}{% endblock %}