{% load staticfiles %}

<!DOCTYPE html>
<head>
	<title>Градирни - наше всё!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'core/css/styles.css' %}" type="text/css"/>
</head>

<body>
	<div class="wrapper block">
		<div class="wrapper__gradient"></div>
		<header>
			<div class="top__text">
				<a href="/" class="firm-label">
					<img src="{% static 'core/images/logo.svg' %}" alt="ООО Алдан.">
					<span>Алдан</span>
				</a>
			</div>
			<div class="top-menu">
				<ul class="unstyled-list">
					<li>
						<a href="/" class="top-menu__text">Главная</a>
					</li>
					<li>
						<a href="/structure/" class="top-menu__text">Устройство градирни<br/>серии ГВП</a>
					</li>
					<li>
						<a href="/catalog/" class="top-menu__text">Каталог градирен<br/>серии ГВП</a>
					</li>
					<li>
						<a href="/photos/" class="top-menu__text">Фото градирен<br/>Примеры монтажа</a>
					</li>
					<li>
						<a href="/contacts/" class="top-menu__text">Контакты</a>
					</li>
				</ul>
			</div>
			<div class="firm-description">
				<ul class="unstyled-list">
					<li>
						Производство вентиляторных<br/>градирен
					</li>
					<li>
						Расчет систем охлаждения<br/>с применением вентиляторных градирен
					</li>
					<li>
						Подбор оборудования<br/>для водоснабжения
					</li>
					<li>
						Комплектующие<br/>для вентияторных градирен
					</li>
				</ul>
			</div>
		</header>
		<div class="content">
			<div class="content__sidebar">
				<div class="content-sidebar__el">
					<div class="content-sidebar-el__title content-title">
						<span>ПРАЙС-ЛИСТ</span>
					</div>
					<div class="content-sidebar-el__text">
						В связи с постоянным изменением цен на&nbsp;комплектующие и&nbsp;материалы, просим отправлять заявки на&nbsp;расчет стоимости интересующих Вас градирен на&nbsp;электронную почту:<br/><a href='mailto: chelgradirni@mail.ru'>chelgradirni@mail.ru</a><br/>либо обращаться по&nbsp;телефону:<br/><a href="tel:+73517762207">+7 (351) 776-22-07</a>
					</div>
				</div>
				<div class="content-sidebar__el">
					<div class="content-sidebar-el__title content-title">
						<span>ДОКУМЕНТЫ</span>
					</div>
					<div class="content-sidebar-el__text">
						<ul>
							<li>
								<a href="">Руководство по эксплуатации ГВП 5-ГВП-200</a>
							</li>
							<li>
								<a href="">Руководство по эксплуатации ГВП 510</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content__main">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</body>


