{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
<img class="page-index__image" src="{% static 'core/images/cooler_for_index.png' %}" alt="Градирня">
<p>Компания "Алдан" является производителем высокоэффективных       
вентиляторных градирен серии ГВП.

<p>Проектирование градирен, с учетом особенностей климата региона
и условий эксплуатации, а также производство осуществляется 
индивидуально под каждого заказчика на основе технического задания.

<p>Градирни изготавливаются из стали толщиной 2,3,4 мм. с окраской
металлических частей лакокрасочными составами для защиты от коррозии. 
По желанию заказчика градирня может быть изготовлена из нержавеющей 
стали.

<p>Производство градирен осуществляется специалистами, имеющими  
многолетний опыт работы в изготовлении и обслуживании вентиляторных 
градирен. Применение современных технологий и оборудования позволяет
повысить качество и сократить срок производства градирен.
       
<p>Расчет системы охлаждения выполняется в соответствии с условиями 
технологического процесса. Специалисты нашей компании рассчитают 
наиболее оптимальный вариант применения вентиляторных градирен. 
Так как жидкость, охлаждаемая при помощи градирни, имеет ограничения 
по температуре, то для жидкостей с высокой температурой, а так же
для замкнутых контуров охлаждения предлагается 
двухконтурная схема с использованием теплообменников.      

<p>Все градирни имеют заводскую гарантию от производителя: 12 месяцев
со дня ввода в эксплуатацию, но не более 18 месяцев со дня отгрузки
от производителя.

{% endblock %}