{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}

<p><u>Градирня</u> - это устройство для охлаждения воды направленным потоком атмосферного воздуха в оборотных 
системах водоснабжения. Основное назначение градирен заключается в снижении потребления сетевой воды.
Эффективное использование малогабаритных градирен в значительной степени экономит потребление водных
и энергоресурсов.

<div class="page-structura__title">УСТРОЙСТВО ГРАДИРНИ СЕРИИ ГВП</div>

<img class="page-structura__image" src="{% static 'core/images/cooler_for_structura.png' %}" alt="Устройство градирни серии ГВП">

<div class="page-structura__list">
	<span>1- Корпус нижний</span>
	<span>2 - Корпус верхний</span>
	<span>3 - Водораспределитель</span>
	<span>4 - Вентилятор</span>
	<span>5 - Ороситель</span>
</div>

<p>Градирня вентиляторная противоточная работает на принципе противотока воды и атмосферного воздуха. 
Охлаждение воды осуществляется за счет испарения воды с поверхности и теплопередачи.

<p>В ГВП используется высокоэффективный ороситель типа ПР-50 из полиэтилена низкого давления 
стабилизированного сажей. Разбрызгивающие сопла также изготовлены из ПНД.

<p>Потери воды при работе градирни:

<ul>
	<li>- Капельный унос не более 0,01%</li>
	<li>- Испарение — 1% на каждые 6&#176;С охлаждения воды</li>
</ul>

<p>Для наиболее эффективной работы градирни, вода, охлаждаемая градирней, не должна содержать 
самовозгорающихся примесей. Содержание жиров и нефтепродуктов не должно превышать 25 мг/л, 
взвешенных веществ — 80 мг/л. В противном случае возникает необходимость установки дополнительных фильтров.

{% endblock %}